
.text-center {
    color: black;
    font-family: 'Lora', serif;
    font-weight: bold;
    font-size: 50px;
}

.post-form input:focus {
    border-color: rgb(213, 213, 205) !important;
}

.description-box {
    border-radius: 0!important;
    height: 150px;
    resize: none;
    padding-top: 20px !important;
    letter-spacing: 1px!important;
}

.btn-add{
    background: #000000 !important;
    border-radius: 5px!important;
    color: #fff!important;
    padding: 10px 50px !important;
}

.react-tag-input {
    height: 45px !important;
}

.react-tag-input:focus {
    border-color: rgb(112, 112, 101) !important;
}

.catg-dropdown {
    width: 100%;
    border-radius: 4px;
    height: 45px;
    color: black;
}

.trending{
    float: left;
    color: rgb(134, 134, 160);
    font-size: 18px;
    margin: auto;
}

.post-heading {
	font-size: 24px;
	color: #222;
    border-bottom: 1px solid #777;
}

.posts-img {
    height: 200px;
	border-radius:5px;
	overflow: hidden;
	position: relative;
	top: 0;
	box-shadow:0, 2px, 3px, 1px, rgba(0,0,0,0);
	transition: all 0.5s;
}

.posts-img > img {
    height: 260px;
	min-width: 100%;
}

.hover-posts-img:hover > .blogs-img {
    top: -7px;
	box-shadow:0, 2px, 3px, 1px, rgba(0,0,0,0.3);
}

.title {
    font-size: 17px;
	color: #222!important;
	font-weight: 800;
    font-family: "Poppins";
    text-decoration: none;
	display: block;
}


.category {
    display: inline-block;
    position: relative;
    background-color: #4287f5;
    padding: 4px 8px;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    text-transform: none;
    line-height: 16px;
    font-weight: 700;
    border-radius: 4px;
}

.fa-trash {
	color: #c43421 !important;
}

.fa-edit {
	color: lightsalmon !important;
}

.meta-info {
    font-size: 15px;
	color: #222;
	display: block;
    font-family: "Poppins";
    text-decoration: none;
}

.post-single-content .meta-info {
	margin-top: 8px;
	border-bottom: 1px solid #777;
	margin-bottom: 15px;
}

.short-description {
    font-size: 14px;
	color: #777;
}

.btn-read {
    background: #544e66 !important;
	border-radius:0!important;
	color: #fff!important;
	padding: 5px 10px!important;
	float: left;
	margin-top: 10px;
	font-size: 14px;
}

.post-title-box {
    width: 20%;
	z-index: 555;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

    .single & {
		position: relative;
		height: 500px;
		width: 100%;
	}

    .overlay {
        position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 10;
		background: rgba(0,0,0,.4);
    }

    .post-title {
        z-index: 12;
		position: absolute;
		bottom: 10px;
		padding: 30px;

        .single & {
			width: 100%;
			margin: 0 auto;
			text-align: center;
            color: rgb(154, 151, 151);
            font-family:'Lora', serif;
            text-shadow: 1px 3px rgb(255, 255, 255);
            box-shadow: 0px 0px 20px rgb(255, 255, 255);  
		}

    }
    
}

.post-single-content {
    z-index: 999;
	background: rgb(255, 255, 255);
    text-align: justify;
}
