


.text-center {
    color: rgb(5, 5, 5);
    font-family: 'Lora', serif;
    font-weight: bold;
    font-size: 50px;
}

.post-form input:focus {
    border-color: rgb(213, 213, 205) !important;
}

.description-box {
    border-radius: 0!important;
    height: 150px;
    resize: none;
    padding-top: 20px !important;
    letter-spacing: 1px!important;
}

.btn-add{
    background: #000000 !important;
    border-radius: 5px!important;
    color: #fff!important;
    padding: 10px 50px !important;
}

.react-tag-input {
    height: 45px !important;
}

.react-tag-input:focus {
    border-color: rgb(112, 112, 101) !important;
}

.catg-dropdown {
    width: 100%;
    border-radius: 4px;
    height: 45px;
    color: black;
}

.trending{
    float: left;
    color: rgb(134, 134, 160);
    font-size: 18px;
    margin: auto;
}

/*Post Section */

.post-heading {
	font-size: 25px;
	color: #0a0a0a;
    border-bottom: 1px solid #777;
}

.posts-img {
    border-radius:5px;
	overflow: hidden;
	position: relative;
	top: 0;
	box-shadow:0, 2px, 3px, 1px, rgba(0,0,0,0);
	transition: all 0.5s;
}

.posts-img > img {
    height: 260px;
	min-width: 100%;
}

.hover-posts-img:hover > .blogs-img {
    top: -7px;
	box-shadow:0, 2px, 3px, 1px, rgba(0,0,0,0.3);
}


.title {
    font-size: 17px;
	color: #222!important;
	font-weight: 800;
    font-family: "Poppins";
    text-decoration: none;
	display: block;
}


.category {
    display: inline-block;
    position: relative;
    background-color: #02183b;
    padding: 4px 8px;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    text-transform: none;
    line-height: 16px;
    font-weight: 700;
    border-radius: 4px;
}

.meta-info {
    font-size: 15px;
	color: #222;
	display: block;
    font-family: "Poppins";
    text-decoration: none;
}

.post-single-content .meta-info {
	margin-top: 8px;
	border-bottom: 1px solid #777;
	margin-bottom: 15px;
}

.short-description {
    font-size: 14px;
	color: #777;
}

.btn-read {
    background: #544e66 !important;
	border-radius:0!important;
	color: #fff!important;
	padding: 5px 10px!important;
	float: left;
	margin-top: 10px;
	font-size: 14px;
    cursor: pointer;
}

.post-title-box {
    width: 20%;
	z-index: 555;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

    .single & {
		position: relative;
		height: 500px;
		width: 100%;
	}

    .overlay {
        position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 10;
		background: rgba(0,0,0,.4);
    }

    .post-title {
        z-index: 12;
		position: absolute;
		bottom: 10px;
		padding: 30px;

        .single & {
			width: 100%;
			margin: 0 auto;
			text-align: center;
            color: rgb(154, 151, 151);
            font-family:'Lora', serif;
            text-shadow: 1px 3px rgb(255, 255, 255);
            box-shadow: 0px 0px 20px rgb(255, 255, 255);  
		}

    }
    
}

.post-single-content {
    z-index: 999;
	background: rgb(255, 255, 255);
    text-align: justify;
}


.spinner{
    width: 3rem;
    height: 3rem;
}

/*Trendings*/

.trending-img-position {
	position: relative;
	overflow: hidden;
	z-index: 5;
	cursor: pointer;
}

.trending-img-size {
	height: 326px;
	overflow: hidden;
}
.trending-img-size > img {
	height: 340px;
	min-width: 100%;
}

.trending-img-relative {
	position: relative;
}

.trending-img-absolute {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.83) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.83) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(0,0,0,0.83) 100%);
	z-index: 7;
}

.trending-img-absolute-1 {
	position: absolute;
	width: 100%;
	z-index: 9;
	padding: 10px;
	bottom: 0;
}

.trending-meta-info {
	color: rgba(255,255,255,0.7);
	font-size: 13px;
}

.trending-img-position:hover {
	-webkit-animation: swing1 1s ease;
	animation: swing1 1s ease;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}
 @-webkit-keyframes swing1 {
 15% {
 -webkit-transform: translateX(5px);
 transform: translateX(5px);
}
 30% {
 -webkit-transform: translateX(-5px);
 transform: translateX(-5px);
}
 50% {
 -webkit-transform: translateX(3px);
 transform: translateX(3px);
}
 65% {
 -webkit-transform: translateX(-3px);
 transform: translateX(-3px);
}
 80% {
 -webkit-transform: translateX(2px);
 transform: translateX(2px);
}
 100% {
 -webkit-transform: translateX(0);
 transform: translateX(0);
}
}
@keyframes swing1 {
 15% {
 -webkit-transform: translateX(5px);
 transform: translateX(5px);
}
 30% {
 -webkit-transform: translateX(-5px);
 transform: translateX(-5px);
}
 50% {
 -webkit-transform: translateX(3px);
 transform: translateX(3px);
}
 65% {
 -webkit-transform: translateX(-3px);
 transform: translateX(-3px);
}
 80% {
 -webkit-transform: translateX(2px);
 transform: translateX(2px);
}
 100% {
 -webkit-transform: translateX(0);
 transform: translateX(0);
}
}

/* Scroll*/

.scroll-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
	transition:.5s;
	cursor: pointer;
	z-index: 1;
	span {
		width: 50px;
		height: 50px;
		display: table;
		background: rgba(0,0,0,.5);
		color: white;
		text-align: center;
		border-radius: 4px;
	}
	i {
		height: 20px;
		display: table-cell;
		vertical-align: middle;
	}
  }



.btn-prev{
	background: #dadada;
	padding: 12px 20px;
	color: #222!important;
	font-weight: 800;
	margin: 0 10px;
	border-radius: 10px;
	transition: 0.5s;
}
.btn-prev:hover, .btn-prev:focus {
	background: #222;
	color: #fff!important;
	font-weight: 800;
}

.btn-next{
	background: #dadada;
	padding: 12px 20px;
	color: #0a0a0a!important;
	font-weight: 800;
	margin: 0 10px;
	border-radius: 10px;
	transition: 0.5s;
}
.btn-next:hover, .btn-prev:focus {
	background: #544e66;
	color: #fff!important;
	font-weight: 800;
}



